## Neural Networks

## QUE : PREDICT THE BURNED AREA OF FOREST FIRES WITH NEURAL NETWORKS

### Import Necessary libraries

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler,OneHotEncoder
from sklearn.model_selection import train_test_split,GridSearchCV,KFold
import tensorflow as tf
from tensorflow import keras
from keras.models import Sequential
from keras.layers import Dense
from keras.wrappers.scikit_learn import KerasClassifier

### Import Dataset

In [ ]:
fire_data= pd.read_csv('/content/forestfires.csv')
fire_data

    month  day  FFMC    DMC  ...  monthnov  monthoct  monthsep  size_category
0     mar  fri  86.2   26.2  ...         0         0         0          small
1     oct  tue  90.6   35.4  ...         0         1         0          small
2     oct  sat  90.6   43.7  ...         0         1         0          small
3     mar  fri  91.7   33.3  ...         0         0         0          small
4     mar  sun  89.3   51.3  ...         0         0         0          small
..    ...  ...   ...    ...  ...       ...       ...       ...            ...
512   aug  sun  81.6   56.7  ...         0         0         0          large
513   aug  sun  81.6   56.7  ...         0         0         0          large
514   aug  sun  81.6   56.7  ...         0         0         0          large
515   aug  sat  94.4  146.0  ...         0         0         0          small
516   nov  tue  79.5    3.0  ...         1         0         0          small

[517 rows x 31 columns]

In [ ]:
fire_data.isna().sum()

month            0
day              0
FFMC             0
DMC              0
DC               0
ISI              0
temp             0
RH               0
wind             0
rain             0
area             0
dayfri           0
daymon           0
daysat           0
daysun           0
daythu           0
daytue           0
daywed           0
monthapr         0
monthaug         0
monthdec         0
monthfeb         0
monthjan         0
monthjul         0
monthjun         0
monthmar         0
monthmay         0
monthnov         0
monthoct         0
monthsep         0
size_category    0
dtype: int64

In [ ]:
fire_data.dtypes

month             object
day               object
FFMC             float64
DMC              float64
DC               float64
ISI              float64
temp             float64
RH                 int64
wind             float64
rain             float64
area             float64
dayfri             int64
daymon             int64
daysat             int64
daysun             int64
daythu             int64
daytue             int64
daywed             int64
monthapr           int64
monthaug           int64
monthdec           int64
monthfeb           int64
monthjan           int64
monthjul           int64
monthjun           int64
monthmar           int64
monthmay           int64
monthnov           int64
monthoct           int64
monthsep           int64
size_category     object
dtype: object

In [ ]:
fire_data_1=fire_data.drop(['dayfri', 'daymon', 'daysat', 'daysun', 'daythu','daytue', 'daywed', 'monthapr', 'monthaug', 'monthdec', 
                  'monthfeb','monthjan', 'monthjul', 'monthjun', 'monthmar', 'monthmay', 'monthnov','monthoct','monthsep'], 
                 axis = 1)
fire_data_1

    month  day  FFMC    DMC     DC  ...  RH  wind  rain   area  size_category
0     mar  fri  86.2   26.2   94.3  ...  51   6.7   0.0   0.00          small
1     oct  tue  90.6   35.4  669.1  ...  33   0.9   0.0   0.00          small
2     oct  sat  90.6   43.7  686.9  ...  33   1.3   0.0   0.00          small
3     mar  fri  91.7   33.3   77.5  ...  97   4.0   0.2   0.00          small
4     mar  sun  89.3   51.3  102.2  ...  99   1.8   0.0   0.00          small
..    ...  ...   ...    ...    ...  ...  ..   ...   ...    ...            ...
512   aug  sun  81.6   56.7  665.6  ...  32   2.7   0.0   6.44          large
513   aug  sun  81.6   56.7  665.6  ...  71   5.8   0.0  54.29          large
514   aug  sun  81.6   56.7  665.6  ...  70   6.7   0.0  11.16          large
515   aug  sat  94.4  146.0  614.7  ...  42   4.0   0.0   0.00          small
516   nov  tue  79.5    3.0  106.7  ...  31   4.5   0.0   0.00          small

[517 rows x 12 columns]

In [ ]:
fire_data_1['month']=fire_data_1['month'].astype('category')
fire_data_1['day']=fire_data_1['day'].astype('category')
fire_data_1['size_category']=fire_data_1['size_category'].astype('category')

In [ ]:
fire_data_1['month']=fire_data_1['month'].cat.codes
fire_data_1['day']=fire_data_1['day'].cat.codes
fire_data_1['size_category']=fire_data_1['size_category'].cat.codes
fire_data_1

     month  day  FFMC    DMC     DC  ...  RH  wind  rain   area  size_category
0        7    0  86.2   26.2   94.3  ...  51   6.7   0.0   0.00              1
1       10    5  90.6   35.4  669.1  ...  33   0.9   0.0   0.00              1
2       10    2  90.6   43.7  686.9  ...  33   1.3   0.0   0.00              1
3        7    0  91.7   33.3   77.5  ...  97   4.0   0.2   0.00              1
4        7    3  89.3   51.3  102.2  ...  99   1.8   0.0   0.00              1
..     ...  ...   ...    ...    ...  ...  ..   ...   ...    ...            ...
512      1    3  81.6   56.7  665.6  ...  32   2.7   0.0   6.44              0
513      1    3  81.6   56.7  665.6  ...  71   5.8   0.0  54.29              0
514      1    3  81.6   56.7  665.6  ...  70   6.7   0.0  11.16              0
515      1    2  94.4  146.0  614.7  ...  42   4.0   0.0   0.00              1
516      9    5  79.5    3.0  106.7  ...  31   4.5   0.0   0.00              1

[517 rows x 12 columns]

In [ ]:
fire_data_1['month'].unique

<bound method Series.unique of 0       7
1      10
2      10
3       7
4       7
       ..
512     1
513     1
514     1
515     1
516     9
Name: month, Length: 517, dtype: int8>

## Data Preparation

In [ ]:
Std_scaler = StandardScaler()

In [ ]:
fire_data_2=Std_scaler.fit_transform(fire_data_1)
fire_data_2=pd.DataFrame(fire_data_2,columns=list(fire_data_1.columns.values))
fire_data_2

        month       day      FFMC  ...      rain      area  size_category
0    0.284222 -1.423121 -0.805959  ... -0.073268 -0.202020       0.606403
1    0.970871  1.176715 -0.008102  ... -0.073268 -0.202020       0.606403
2    0.970871 -0.383187 -0.008102  ... -0.073268 -0.202020       0.606403
3    0.284222 -1.423121  0.191362  ...  0.603155 -0.202020       0.606403
4    0.284222  0.136781 -0.243833  ... -0.073268 -0.202020       0.606403
..        ...       ...       ...  ...       ...       ...            ...
512 -1.089076  0.136781 -1.640083  ... -0.073268 -0.100753      -1.649068
513 -1.089076  0.136781 -1.640083  ... -0.073268  0.651674      -1.649068
514 -1.089076  0.136781 -1.640083  ... -0.073268 -0.026532      -1.649068
515 -1.089076 -0.383187  0.680957  ... -0.073268 -0.202020       0.606403
516  0.741988  1.176715 -2.020879  ... -0.073268 -0.202020       0.606403

[517 rows x 12 columns]

In [ ]:
X = fire_data_2.drop(columns='size_category')
y=fire_data_1['size_category']

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.3, random_state=5)
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((361, 11), (156, 11), (361,), (156,))

## Model Preparation

In [ ]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

### **Step 1: Build the architecture**

In [ ]:
model=Sequential()
model.add(Dense(11,input_dim=11, kernel_initializer='uniform', activation='relu'))
model.add(Dense(units=10, kernel_initializer='uniform', activation='relu'))
model.add(Dense(units=1, kernel_initializer='uniform', activation='sigmoid'))
model.summary()

Model: "sequential_6"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_18 (Dense)            (None, 11)                132

 dense_19 (Dense)            (None, 10)                120

 dense_20 (Dense)            (None, 1)                 11

=================================================================
Total params: 263
Trainable params: 263
Non-trainable params: 0
_________________________________________________________________

## **Step 2 : Compile your architecture**

In [ ]:
model.compile(loss='binary_crossentropy',optimizer='adam',metrics=['accuracy'])

## **Step 3: Train your model**

In [ ]:
model.fit(X_train,y_train, epochs=100, batch_size=10)

## **6. Model Testing**

In [ ]:
model.evaluate(X_test,y_test)

5/5 [==============================] - 0s 3ms/step - loss: 0.0896 - accuracy: 0.9615

[0.08960368484258652, 0.9615384340286255]

## Tuning of Hyperparameters:- Activation Function and Kernel Initializer

In [ ]:
import tensorflow.keras.optimizers

In [ ]:
def create_model(activation_function,init,learning_rate):
  model=Sequential()
  model.add(Dense(11,kernel_initializer = init,activation=activation_function))
  model.add(Dense(12,kernel_initializer=init,activation=activation_function))
  model.add(Dense(1,activation='sigmoid'))

  model.compile(optimizer=tf.keras.optimizers.Adam(learning_rate=learning_rate),loss='binary_crossentropy',metrics='accuracy')
  return model

model = KerasClassifier(build_fn=create_model,verbose=0,batch_size = 40,epochs = 10)
activation_function=['softmax','relu','tanh']
init=['uniform','normal','zero']
learning_rate = [0.001,0.01,0.1]


param_grids=dict(learning_rate = learning_rate,activation_function = activation_function,init = init)


grid= GridSearchCV(estimator=model,param_grid =param_grids,cv=KFold(),verbose = 10)
grid_result = grid.fit(X_train,y_train)

print('Best : {}, using {}'.format(grid_result.best_score_,grid_result.best_params_))

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:10: DeprecationWarning: KerasClassifier is deprecated, use Sci-Keras (https://github.com/adriangb/scikeras) instead.
  # Remove the CWD from sys.path while we load stuff.

Fitting 5 folds for each of 27 candidates, totalling 135 fits
[CV 1/5; 1/27] START activation_function=softmax, init=uniform, learning_rate=0.001
[CV 1/5; 1/27] END activation_function=softmax, init=uniform, learning_rate=0.001;, score=0.781 total time=   1.4s
[CV 2/5; 1/27] START activation_function=softmax, init=uniform, learning_rate=0.001
[CV 2/5; 1/27] END activation_function=softmax, init=uniform, learning_rate=0.001;, score=0.861 total time=   1.0s
[CV 3/5; 1/27] START activation_function=softmax, init=uniform, learning_rate=0.001
[CV 3/5; 1/27] END activation_function=softmax, init=uniform, learning_rate=0.001;, score=0.611 total time=   0.9s
[CV 4/5; 1/27] START activation_function=softmax, init=uniform, learning_rate=0.001
[CV 4/5; 1/27] END activation_function=softmax, init=uniform, learning_rate=0.001;, score=0.639 total time=   0.9s
[CV 5/5; 1/27] START activation_function=softmax, init=uniform, learning_rate=0.001
[CV 5/5; 1/27] END activation_function=softmax, init=uniform, learning_rate=0.001;, score=0.681 total time=   0.9s
[CV 1/5; 2/27] START activation_function=softmax, init=uniform, learning_rate=0.01
[CV 1/5; 2/27] END activation_function=softmax, init=uniform, learning_rate=0.01;, score=0.781 total time=   0.9s
[CV 2/5; 2/27] START activation_function=softmax, init=uniform, learning_rate=0.01
[CV 2/5; 2/27] END activation_function=softmax, init=uniform, learning_rate=0.01;, score=0.861 total time=   0.8s
[CV 3/5; 2/27] START activation_function=softmax, init=uniform, learning_rate=0.01
[CV 3/5; 2/27] END activation_function=softmax, init=uniform, learning_rate=0.01;, score=0.611 total time=   0.9s
[CV 4/5; 2/27] START activation_function=softmax, init=uniform, learning_rate=0.01
[CV 4/5; 2/27] END activation_function=softmax, init=uniform, learning_rate=0.01;, score=0.639 total time=   0.9s
[CV 5/5; 2/27] START activation_function=softmax, init=uniform, learning_rate=0.01
[CV 5/5; 2/27] END activation_function=softmax, init=uniform, learning_rate=0.01;, score=0.681 total time=   0.9s
[CV 1/5; 3/27] START activation_function=softmax, init=uniform, learning_rate=0.1
[CV 1/5; 3/27] END activation_function=softmax, init=uniform, learning_rate=0.1;, score=0.959 total time=   0.8s
[CV 2/5; 3/27] START activation_function=softmax, init=uniform, learning_rate=0.1
[CV 2/5; 3/27] END activation_function=softmax, init=uniform, learning_rate=0.1;, score=0.944 total time=   0.9s
[CV 3/5; 3/27] START activation_function=softmax, init=uniform, learning_rate=0.1
[CV 3/5; 3/27] END activation_function=softmax, init=uniform, learning_rate=0.1;, score=0.861 total time=   1.2s
[CV 4/5; 3/27] START activation_function=softmax, init=uniform, learning_rate=0.1
[CV 4/5; 3/27] END activation_function=softmax, init=uniform, learning_rate=0.1;, score=0.903 total time=   0.9s
[CV 5/5; 3/27] START activation_function=softmax, init=uniform, learning_rate=0.1
[CV 5/5; 3/27] END activation_function=softmax, init=uniform, learning_rate=0.1;, score=0.833 total time=   0.9s
[CV 1/5; 4/27] START activation_function=softmax, init=normal, learning_rate=0.001
[CV 1/5; 4/27] END activation_function=softmax, init=normal, learning_rate=0.001;, score=0.781 total time=   0.9s
[CV 2/5; 4/27] START activation_function=softmax, init=normal, learning_rate=0.001
[CV 2/5; 4/27] END activation_function=softmax, init=normal, learning_rate=0.001;, score=0.861 total time=   0.9s
[CV 3/5; 4/27] START activation_function=softmax, init=normal, learning_rate=0.001
[CV 3/5; 4/27] END activation_function=softmax, init=normal, learning_rate=0.001;, score=0.611 total time=   0.9s
[CV 4/5; 4/27] START activation_function=softmax, init=normal, learning_rate=0.001
[CV 4/5; 4/27] END activation_function=softmax, init=normal, learning_rate=0.001;, score=0.639 total time=   0.9s
[CV 5/5; 4/27] START activation_function=softmax, init=normal, learning_rate=0.001
[CV 5/5; 4/27] END activation_function=softmax, init=normal, learning_rate=0.001;, score=0.681 total time=   0.8s
[CV 1/5; 5/27] START activation_function=softmax, init=normal, learning_rate=0.01
[CV 1/5; 5/27] END activation_function=softmax, init=normal, learning_rate=0.01;, score=0.781 total time=   0.9s
[CV 2/5; 5/27] START activation_function=softmax, init=normal, learning_rate=0.01
[CV 2/5; 5/27] END activation_function=softmax, init=normal, learning_rate=0.01;, score=0.861 total time=   0.9s
[CV 3/5; 5/27] START activation_function=softmax, init=normal, learning_rate=0.01
[CV 3/5; 5/27] END activation_function=softmax, init=normal, learning_rate=0.01;, score=0.611 total time=   0.8s
[CV 4/5; 5/27] START activation_function=softmax, init=normal, learning_rate=0.01
[CV 4/5; 5/27] END activation_function=softmax, init=normal, learning_rate=0.01;, score=0.639 total time=   1.2s
[CV 5/5; 5/27] START activation_function=softmax, init=normal, learning_rate=0.01
[CV 5/5; 5/27] END activation_function=softmax, init=normal, learning_rate=0.01;, score=0.681 total time=   0.9s
[CV 1/5; 6/27] START activation_function=softmax, init=normal, learning_rate=0.1
[CV 1/5; 6/27] END activation_function=softmax, init=normal, learning_rate=0.1;, score=0.904 total time=   0.9s
[CV 2/5; 6/27] START activation_function=softmax, init=normal, learning_rate=0.1
[CV 2/5; 6/27] END activation_function=softmax, init=normal, learning_rate=0.1;, score=0.944 total time=   0.8s
[CV 3/5; 6/27] START activation_function=softmax, init=normal, learning_rate=0.1
[CV 3/5; 6/27] END activation_function=softmax, init=normal, learning_rate=0.1;, score=0.861 total time=   0.8s
[CV 4/5; 6/27] START activation_function=softmax, init=normal, learning_rate=0.1
[CV 4/5; 6/27] END activation_function=softmax, init=normal, learning_rate=0.1;, score=0.931 total time=   1.0s
[CV 5/5; 6/27] START activation_function=softmax, init=normal, learning_rate=0.1
[CV 5/5; 6/27] END activation_function=softmax, init=normal, learning_rate=0.1;, score=0.819 total time=   0.8s
[CV 1/5; 7/27] START activation_function=softmax, init=zero, learning_rate=0.001
[CV 1/5; 7/27] END activation_function=softmax, init=zero, learning_rate=0.001;, score=0.781 total time=   0.8s
[CV 2/5; 7/27] START activation_function=softmax, init=zero, learning_rate=0.001
[CV 2/5; 7/27] END activation_function=softmax, init=zero, learning_rate=0.001;, score=0.861 total time=   1.0s
[CV 3/5; 7/27] START activation_function=softmax, init=zero, learning_rate=0.001
[CV 3/5; 7/27] END activation_function=softmax, init=zero, learning_rate=0.001;, score=0.611 total time=   1.0s
[CV 4/5; 7/27] START activation_function=softmax, init=zero, learning_rate=0.001
[CV 4/5; 7/27] END activation_function=softmax, init=zero, learning_rate=0.001;, score=0.639 total time=   0.9s
[CV 5/5; 7/27] START activation_function=softmax, init=zero, learning_rate=0.001
[CV 5/5; 7/27] END activation_function=softmax, init=zero, learning_rate=0.001;, score=0.681 total time=   1.3s
[CV 1/5; 8/27] START activation_function=softmax, init=zero, learning_rate=0.01.
[CV 1/5; 8/27] END activation_function=softmax, init=zero, learning_rate=0.01;, score=0.781 total time=   0.9s
[CV 2/5; 8/27] START activation_function=softmax, init=zero, learning_rate=0.01.
[CV 2/5; 8/27] END activation_function=softmax, init=zero, learning_rate=0.01;, score=0.861 total time=   0.9s
[CV 3/5; 8/27] START activation_function=softmax, init=zero, learning_rate=0.01.
[CV 3/5; 8/27] END activation_function=softmax, init=zero, learning_rate=0.01;, score=0.611 total time=   0.9s
[CV 4/5; 8/27] START activation_function=softmax, init=zero, learning_rate=0.01.
[CV 4/5; 8/27] END activation_function=softmax, init=zero, learning_rate=0.01;, score=0.639 total time=   0.9s
[CV 5/5; 8/27] START activation_function=softmax, init=zero, learning_rate=0.01.
[CV 5/5; 8/27] END activation_function=softmax, init=zero, learning_rate=0.01;, score=0.681 total time=   0.9s
[CV 1/5; 9/27] START activation_function=softmax, init=zero, learning_rate=0.1..
[CV 1/5; 9/27] END activation_function=softmax, init=zero, learning_rate=0.1;, score=0.781 total time=   0.9s
[CV 2/5; 9/27] START activation_function=softmax, init=zero, learning_rate=0.1..
[CV 2/5; 9/27] END activation_function=softmax, init=zero, learning_rate=0.1;, score=0.861 total time=   0.9s
[CV 3/5; 9/27] START activation_function=softmax, init=zero, learning_rate=0.1..
[CV 3/5; 9/27] END activation_function=softmax, init=zero, learning_rate=0.1;, score=0.611 total time=   1.0s
[CV 4/5; 9/27] START activation_function=softmax, init=zero, learning_rate=0.1..
[CV 4/5; 9/27] END activation_function=softmax, init=zero, learning_rate=0.1;, score=0.639 total time=   0.9s
[CV 5/5; 9/27] START activation_function=softmax, init=zero, learning_rate=0.1..
[CV 5/5; 9/27] END activation_function=softmax, init=zero, learning_rate=0.1;, score=0.681 total time=   0.9s
[CV 1/5; 10/27] START activation_function=relu, init=uniform, learning_rate=0.001
[CV 1/5; 10/27] END activation_function=relu, init=uniform, learning_rate=0.001;, score=0.781 total time=   0.9s
[CV 2/5; 10/27] START activation_function=relu, init=uniform, learning_rate=0.001
[CV 2/5; 10/27] END activation_function=relu, init=uniform, learning_rate=0.001;, score=0.861 total time=   0.9s
[CV 3/5; 10/27] START activation_function=relu, init=uniform, learning_rate=0.001
[CV 3/5; 10/27] END activation_function=relu, init=uniform, learning_rate=0.001;, score=0.625 total time=   1.2s
[CV 4/5; 10/27] START activation_function=relu, init=uniform, learning_rate=0.001
[CV 4/5; 10/27] END activation_function=relu, init=uniform, learning_rate=0.001;, score=0.639 total time=   0.8s
[CV 5/5; 10/27] START activation_function=relu, init=uniform, learning_rate=0.001
[CV 5/5; 10/27] END activation_function=relu, init=uniform, learning_rate=0.001;, score=0.681 total time=   0.9s
[CV 1/5; 11/27] START activation_function=relu, init=uniform, learning_rate=0.01
[CV 1/5; 11/27] END activation_function=relu, init=uniform, learning_rate=0.01;, score=0.904 total time=   0.8s
[CV 2/5; 11/27] START activation_function=relu, init=uniform, learning_rate=0.01
[CV 2/5; 11/27] END activation_function=relu, init=uniform, learning_rate=0.01;, score=0.972 total time=   0.9s
[CV 3/5; 11/27] START activation_function=relu, init=uniform, learning_rate=0.01
[CV 3/5; 11/27] END activation_function=relu, init=uniform, learning_rate=0.01;, score=0.833 total time=   0.9s
[CV 4/5; 11/27] START activation_function=relu, init=uniform, learning_rate=0.01
[CV 4/5; 11/27] END activation_function=relu, init=uniform, learning_rate=0.01;, score=0.764 total time=   0.9s
[CV 5/5; 11/27] START activation_function=relu, init=uniform, learning_rate=0.01
[CV 5/5; 11/27] END activation_function=relu, init=uniform, learning_rate=0.01;, score=0.736 total time=   0.9s
[CV 1/5; 12/27] START activation_function=relu, init=uniform, learning_rate=0.1.
[CV 1/5; 12/27] END activation_function=relu, init=uniform, learning_rate=0.1;, score=0.904 total time=   0.9s
[CV 2/5; 12/27] START activation_function=relu, init=uniform, learning_rate=0.1.
[CV 2/5; 12/27] END activation_function=relu, init=uniform, learning_rate=0.1;, score=0.958 total time=   0.9s
[CV 3/5; 12/27] START activation_function=relu, init=uniform, learning_rate=0.1.
[CV 3/5; 12/27] END activation_function=relu, init=uniform, learning_rate=0.1;, score=0.917 total time=   0.9s
[CV 4/5; 12/27] START activation_function=relu, init=uniform, learning_rate=0.1.
[CV 4/5; 12/27] END activation_function=relu, init=uniform, learning_rate=0.1;, score=0.889 total time=   1.3s
[CV 5/5; 12/27] START activation_function=relu, init=uniform, learning_rate=0.1.
[CV 5/5; 12/27] END activation_function=relu, init=uniform, learning_rate=0.1;, score=0.819 total time=   0.9s
[CV 1/5; 13/27] START activation_function=relu, init=normal, learning_rate=0.001
[CV 1/5; 13/27] END activation_function=relu, init=normal, learning_rate=0.001;, score=0.781 total time=   0.9s
[CV 2/5; 13/27] START activation_function=relu, init=normal, learning_rate=0.001
[CV 2/5; 13/27] END activation_function=relu, init=normal, learning_rate=0.001;, score=0.861 total time=   0.9s
[CV 3/5; 13/27] START activation_function=relu, init=normal, learning_rate=0.001
[CV 3/5; 13/27] END activation_function=relu, init=normal, learning_rate=0.001;, score=0.625 total time=   0.9s
[CV 4/5; 13/27] START activation_function=relu, init=normal, learning_rate=0.001
[CV 4/5; 13/27] END activation_function=relu, init=normal, learning_rate=0.001;, score=0.639 total time=   0.8s
[CV 5/5; 13/27] START activation_function=relu, init=normal, learning_rate=0.001
[CV 5/5; 13/27] END activation_function=relu, init=normal, learning_rate=0.001;, score=0.681 total time=   0.9s
[CV 1/5; 14/27] START activation_function=relu, init=normal, learning_rate=0.01.
[CV 1/5; 14/27] END activation_function=relu, init=normal, learning_rate=0.01;, score=0.877 total time=   0.9s
[CV 2/5; 14/27] START activation_function=relu, init=normal, learning_rate=0.01.
[CV 2/5; 14/27] END activation_function=relu, init=normal, learning_rate=0.01;, score=0.944 total time=   0.9s
[CV 3/5; 14/27] START activation_function=relu, init=normal, learning_rate=0.01.
[CV 3/5; 14/27] END activation_function=relu, init=normal, learning_rate=0.01;, score=0.847 total time=   0.9s
[CV 4/5; 14/27] START activation_function=relu, init=normal, learning_rate=0.01.
[CV 4/5; 14/27] END activation_function=relu, init=normal, learning_rate=0.01;, score=0.833 total time=   0.8s
[CV 5/5; 14/27] START activation_function=relu, init=normal, learning_rate=0.01.
[CV 5/5; 14/27] END activation_function=relu, init=normal, learning_rate=0.01;, score=0.722 total time=   0.9s
[CV 1/5; 15/27] START activation_function=relu, init=normal, learning_rate=0.1..
[CV 1/5; 15/27] END activation_function=relu, init=normal, learning_rate=0.1;, score=0.918 total time=   0.8s
[CV 2/5; 15/27] START activation_function=relu, init=normal, learning_rate=0.1..
[CV 2/5; 15/27] END activation_function=relu, init=normal, learning_rate=0.1;, score=0.972 total time=   1.3s
[CV 3/5; 15/27] START activation_function=relu, init=normal, learning_rate=0.1..
[CV 3/5; 15/27] END activation_function=relu, init=normal, learning_rate=0.1;, score=0.903 total time=   0.9s
[CV 4/5; 15/27] START activation_function=relu, init=normal, learning_rate=0.1..
[CV 4/5; 15/27] END activation_function=relu, init=normal, learning_rate=0.1;, score=0.931 total time=   0.9s
[CV 5/5; 15/27] START activation_function=relu, init=normal, learning_rate=0.1..
[CV 5/5; 15/27] END activation_function=relu, init=normal, learning_rate=0.1;, score=0.861 total time=   0.9s
[CV 1/5; 16/27] START activation_function=relu, init=zero, learning_rate=0.001..
[CV 1/5; 16/27] END activation_function=relu, init=zero, learning_rate=0.001;, score=0.781 total time=   0.8s
[CV 2/5; 16/27] START activation_function=relu, init=zero, learning_rate=0.001..
[CV 2/5; 16/27] END activation_function=relu, init=zero, learning_rate=0.001;, score=0.861 total time=   0.9s
[CV 3/5; 16/27] START activation_function=relu, init=zero, learning_rate=0.001..
[CV 3/5; 16/27] END activation_function=relu, init=zero, learning_rate=0.001;, score=0.611 total time=   0.8s
[CV 4/5; 16/27] START activation_function=relu, init=zero, learning_rate=0.001..
[CV 4/5; 16/27] END activation_function=relu, init=zero, learning_rate=0.001;, score=0.639 total time=   1.0s
[CV 5/5; 16/27] START activation_function=relu, init=zero, learning_rate=0.001..
[CV 5/5; 16/27] END activation_function=relu, init=zero, learning_rate=0.001;, score=0.681 total time=   0.9s
[CV 1/5; 17/27] START activation_function=relu, init=zero, learning_rate=0.01...
[CV 1/5; 17/27] END activation_function=relu, init=zero, learning_rate=0.01;, score=0.781 total time=   0.9s
[CV 2/5; 17/27] START activation_function=relu, init=zero, learning_rate=0.01...
[CV 2/5; 17/27] END activation_function=relu, init=zero, learning_rate=0.01;, score=0.861 total time=   0.9s
[CV 3/5; 17/27] START activation_function=relu, init=zero, learning_rate=0.01...
[CV 3/5; 17/27] END activation_function=relu, init=zero, learning_rate=0.01;, score=0.611 total time=   1.3s
[CV 4/5; 17/27] START activation_function=relu, init=zero, learning_rate=0.01...
[CV 4/5; 17/27] END activation_function=relu, init=zero, learning_rate=0.01;, score=0.639 total time=   0.9s
[CV 5/5; 17/27] START activation_function=relu, init=zero, learning_rate=0.01...
[CV 5/5; 17/27] END activation_function=relu, init=zero, learning_rate=0.01;, score=0.681 total time=   0.9s
[CV 1/5; 18/27] START activation_function=relu, init=zero, learning_rate=0.1....
[CV 1/5; 18/27] END activation_function=relu, init=zero, learning_rate=0.1;, score=0.781 total time=   0.9s
[CV 2/5; 18/27] START activation_function=relu, init=zero, learning_rate=0.1....
[CV 2/5; 18/27] END activation_function=relu, init=zero, learning_rate=0.1;, score=0.861 total time=   0.8s
[CV 3/5; 18/27] START activation_function=relu, init=zero, learning_rate=0.1....
[CV 3/5; 18/27] END activation_function=relu, init=zero, learning_rate=0.1;, score=0.611 total time=   0.8s
[CV 4/5; 18/27] START activation_function=relu, init=zero, learning_rate=0.1....
[CV 4/5; 18/27] END activation_function=relu, init=zero, learning_rate=0.1;, score=0.639 total time=   0.9s
[CV 5/5; 18/27] START activation_function=relu, init=zero, learning_rate=0.1....
[CV 5/5; 18/27] END activation_function=relu, init=zero, learning_rate=0.1;, score=0.681 total time=   0.9s
[CV 1/5; 19/27] START activation_function=tanh, init=uniform, learning_rate=0.001
[CV 1/5; 19/27] END activation_function=tanh, init=uniform, learning_rate=0.001;, score=0.836 total time=   0.8s
[CV 2/5; 19/27] START activation_function=tanh, init=uniform, learning_rate=0.001
[CV 2/5; 19/27] END activation_function=tanh, init=uniform, learning_rate=0.001;, score=0.861 total time=   0.9s
[CV 3/5; 19/27] START activation_function=tanh, init=uniform, learning_rate=0.001
[CV 3/5; 19/27] END activation_function=tanh, init=uniform, learning_rate=0.001;, score=0.639 total time=   0.9s
[CV 4/5; 19/27] START activation_function=tanh, init=uniform, learning_rate=0.001
[CV 4/5; 19/27] END activation_function=tanh, init=uniform, learning_rate=0.001;, score=0.667 total time=   0.9s
[CV 5/5; 19/27] START activation_function=tanh, init=uniform, learning_rate=0.001
[CV 5/5; 19/27] END activation_function=tanh, init=uniform, learning_rate=0.001;, score=0.681 total time=   1.2s
[CV 1/5; 20/27] START activation_function=tanh, init=uniform, learning_rate=0.01
[CV 1/5; 20/27] END activation_function=tanh, init=uniform, learning_rate=0.01;, score=0.973 total time=   0.9s
[CV 2/5; 20/27] START activation_function=tanh, init=uniform, learning_rate=0.01
[CV 2/5; 20/27] END activation_function=tanh, init=uniform, learning_rate=0.01;, score=0.986 total time=   0.9s
[CV 3/5; 20/27] START activation_function=tanh, init=uniform, learning_rate=0.01
[CV 3/5; 20/27] END activation_function=tanh, init=uniform, learning_rate=0.01;, score=0.889 total time=   0.9s
[CV 4/5; 20/27] START activation_function=tanh, init=uniform, learning_rate=0.01
[CV 4/5; 20/27] END activation_function=tanh, init=uniform, learning_rate=0.01;, score=0.903 total time=   0.8s
[CV 5/5; 20/27] START activation_function=tanh, init=uniform, learning_rate=0.01
[CV 5/5; 20/27] END activation_function=tanh, init=uniform, learning_rate=0.01;, score=0.875 total time=   0.9s
[CV 1/5; 21/27] START activation_function=tanh, init=uniform, learning_rate=0.1.
[CV 1/5; 21/27] END activation_function=tanh, init=uniform, learning_rate=0.1;, score=0.932 total time=   1.0s
[CV 2/5; 21/27] START activation_function=tanh, init=uniform, learning_rate=0.1.
[CV 2/5; 21/27] END activation_function=tanh, init=uniform, learning_rate=0.1;, score=0.972 total time=   0.9s
[CV 3/5; 21/27] START activation_function=tanh, init=uniform, learning_rate=0.1.
[CV 3/5; 21/27] END activation_function=tanh, init=uniform, learning_rate=0.1;, score=0.944 total time=   1.0s

## Applying best parameters values to the final model

In [ ]:
model=Sequential()
model.add(Dense(11,input_dim=11, kernel_initializer='normal', activation='tanh'))
model.add(Dense(units=10, kernel_initializer='normal', activation='tanh'))
model.add(Dense(units=1, activation='sigmoid'))
model.summary()

Model: "sequential_3037"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_6040 (Dense)          (None, 11)                132

 dense_6041 (Dense)          (None, 10)                120

 dense_6042 (Dense)          (None, 1)                 11

=================================================================
Total params: 263
Trainable params: 263
Non-trainable params: 0
_________________________________________________________________

## **Step 2 : Compile your architecture**

In [ ]:
model.compile(loss='binary_crossentropy',optimizer=tf.keras.optimizers.Adam(learning_rate=0.01),metrics=['accuracy'])

## **Step 3: Train your model**

In [ ]:
model.fit(X_train,y_train, epochs=50, batch_size=20)

Epoch 1/50
19/19 [==============================] - 0s 3ms/step - loss: 0.6131 - accuracy: 0.7175
Epoch 2/50
19/19 [==============================] - 0s 3ms/step - loss: 0.5251 - accuracy: 0.7562
Epoch 3/50
19/19 [==============================] - 0s 3ms/step - loss: 0.4263 - accuracy: 0.8033
Epoch 4/50
19/19 [==============================] - 0s 3ms/step - loss: 0.3193 - accuracy: 0.8670
Epoch 5/50
19/19 [==============================] - 0s 3ms/step - loss: 0.2950 - accuracy: 0.8837
Epoch 6/50
19/19 [==============================] - 0s 3ms/step - loss: 0.1733 - accuracy: 0.9169
Epoch 7/50
19/19 [==============================] - 0s 3ms/step - loss: 0.1124 - accuracy: 0.9695
Epoch 8/50
19/19 [==============================] - 0s 3ms/step - loss: 0.0970 - accuracy: 0.9640
Epoch 9/50
19/19 [==============================] - 0s 3ms/step - loss: 0.0792 - accuracy: 0.9751
Epoch 10/50
19/19 [==============================] - 0s 3ms/step - loss: 0.0743 - accuracy: 0.9778
Epoch 11/50
19/19 [==============================] - 0s 3ms/step - loss: 0.0654 - accuracy: 0.9806
Epoch 12/50
19/19 [==============================] - 0s 3ms/step - loss: 0.1020 - accuracy: 0.9612
Epoch 13/50
19/19 [==============================] - 0s 3ms/step - loss: 0.0759 - accuracy: 0.9695
Epoch 14/50
19/19 [==============================] - 0s 3ms/step - loss: 0.0736 - accuracy: 0.9778
Epoch 15/50
19/19 [==============================] - 0s 3ms/step - loss: 0.0854 - accuracy: 0.9751
Epoch 16/50
19/19 [==============================] - 0s 3ms/step - loss: 0.0698 - accuracy: 0.9751
Epoch 17/50
19/19 [==============================] - 0s 3ms/step - loss: 0.0536 - accuracy: 0.9806
Epoch 18/50
19/19 [==============================] - 0s 3ms/step - loss: 0.0328 - accuracy: 0.9945
Epoch 19/50
19/19 [==============================] - 0s 3ms/step - loss: 0.0715 - accuracy: 0.9695
Epoch 20/50
19/19 [==============================] - 0s 3ms/step - loss: 0.0593 - accuracy: 0.9806
Epoch 21/50
19/19 [==============================] - 0s 3ms/step - loss: 0.0380 - accuracy: 0.9834
Epoch 22/50
19/19 [==============================] - 0s 3ms/step - loss: 0.0267 - accuracy: 0.9917
Epoch 23/50
19/19 [==============================] - 0s 3ms/step - loss: 0.0190 - accuracy: 0.9972
Epoch 24/50
19/19 [==============================] - 0s 3ms/step - loss: 0.0410 - accuracy: 0.9917
Epoch 25/50
19/19 [==============================] - 0s 3ms/step - loss: 0.0233 - accuracy: 0.9889
Epoch 26/50
19/19 [==============================] - 0s 3ms/step - loss: 0.0306 - accuracy: 0.9945
Epoch 27/50
19/19 [==============================] - 0s 3ms/step - loss: 0.0379 - accuracy: 0.9861
Epoch 28/50
19/19 [==============================] - 0s 3ms/step - loss: 0.0559 - accuracy: 0.9751
Epoch 29/50
19/19 [==============================] - 0s 3ms/step - loss: 0.0476 - accuracy: 0.9778
Epoch 30/50
19/19 [==============================] - 0s 3ms/step - loss: 0.0336 - accuracy: 0.9917
Epoch 31/50
19/19 [==============================] - 0s 3ms/step - loss: 0.0177 - accuracy: 0.9972
Epoch 32/50
19/19 [==============================] - 0s 3ms/step - loss: 0.0237 - accuracy: 0.9945
Epoch 33/50
19/19 [==============================] - 0s 3ms/step - loss: 0.0465 - accuracy: 0.9834
Epoch 34/50
19/19 [==============================] - 0s 3ms/step - loss: 0.0175 - accuracy: 0.9945
Epoch 35/50
19/19 [==============================] - 0s 3ms/step - loss: 0.0350 - accuracy: 0.9806
Epoch 36/50
19/19 [==============================] - 0s 3ms/step - loss: 0.1185 - accuracy: 0.9695
Epoch 37/50
19/19 [==============================] - 0s 3ms/step - loss: 0.0417 - accuracy: 0.9806
Epoch 38/50
19/19 [==============================] - 0s 3ms/step - loss: 0.0242 - accuracy: 0.9917
Epoch 39/50
19/19 [==============================] - 0s 3ms/step - loss: 0.0172 - accuracy: 0.9945
Epoch 40/50
19/19 [==============================] - 0s 3ms/step - loss: 0.0098 - accuracy: 1.0000
Epoch 41/50
19/19 [==============================] - 0s 4ms/step - loss: 0.0088 - accuracy: 1.0000
Epoch 42/50
19/19 [==============================] - 0s 3ms/step - loss: 0.0070 - accuracy: 1.0000
Epoch 43/50
19/19 [==============================] - 0s 3ms/step - loss: 0.0081 - accuracy: 0.9972
Epoch 44/50
19/19 [==============================] - 0s 3ms/step - loss: 0.0095 - accuracy: 0.9972
Epoch 45/50
19/19 [==============================] - 0s 3ms/step - loss: 0.0167 - accuracy: 0.9972
Epoch 46/50
19/19 [==============================] - 0s 3ms/step - loss: 0.0209 - accuracy: 0.9945
Epoch 47/50
19/19 [==============================] - 0s 3ms/step - loss: 0.0267 - accuracy: 0.9889
Epoch 48/50
19/19 [==============================] - 0s 3ms/step - loss: 0.0250 - accuracy: 0.9945
Epoch 49/50
19/19 [==============================] - 0s 3ms/step - loss: 0.0116 - accuracy: 0.9972
Epoch 50/50
19/19 [==============================] - 0s 3ms/step - loss: 0.0075 - accuracy: 0.9972

In [ ]:
model.evaluate(X_test,y_test)

5/5 [==============================] - 0s 3ms/step - loss: 0.0751 - accuracy: 0.9744

[0.07505737245082855, 0.9743589758872986]

## **Final model accuracy is 97.44 %**